Source: sidux-graphics
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kelrin@tpg.com.au>
Build-Depends: cdbs, debhelper (>= 5), gfxboot, gfxboot-theme-sidux (>= 0.4.25)
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-graphics/trunk
XS-Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-graphics/trunk/

Package: sidux-graphics
Architecture: all
Description: artwork and themes for sidux
 This package contains the wallpaper that is checked for and required
 by the xsession startup script(s) on sidux. It also contains the
 grub-gfxboot theme.
 .
 This package also serves as a virtual package that brings together
 the complete sidux theme.
