Source: sidux-graphics
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kelrin@tpg.com.au>
Build-Depends: cdbs, debhelper (>= 5), gfxboot, gfxboot-theme-sidux (>= 0.4.4)
Standards-Version: 3.7.2

Package: sidux-graphics-common
Architecture: all
Conflicts: kanotix-graphics, kanotix64-graphics
Description: artwork common to all sidux versions
 This package contains generic artwork that is not specifc to any
 sidux release architecture.
 .
 It currently includes custom sidux kside and kmenu graphics.

Package: sidux-graphics
Architecture: all
Conflicts: kanotix-graphics, kanotix64-graphics
Description: artwork and themes for sidux
 This package contains the wallpaper that is checked for and required
 by the xsession startup script(s) on sidux. It also contains the
 grub-gfxboot theme.
 .
 This package also serves as a virtual package that brings together
 the complete sidux theme.

